
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Metralite Industries, Inc. | Architectural Metal and Glass</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="pingback" href="http://capethemes.com/demo/scroller1/xmlrpc.php" />

    <!-- Themnific Mobile & Special CSS -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700%7cMontserrat:700%7cMontserrat:700%7cOpen+Sans:700%7cRaleway:600%7cRaleway:400%7cOpen+Sans:700" rel="stylesheet prefetch" type="text/css">

    <link rel="alternate" type="application/rss+xml" title="Scroller &raquo; Feed" href="http://capethemes.com/demo/scroller1/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Scroller &raquo; Comments Feed" href="http://capethemes.com/demo/scroller1/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Scroller &raquo; Home Comments Feed" href="http://capethemes.com/demo/scroller1/home/feed/" />
    <link rel='stylesheet' id='style-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/style.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/prettyPhoto.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='style-custom-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/style-custom.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='social-media-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/social-media.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome.min-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/font-awesome.min.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-ie7-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/font-awesome-ie7.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mobile-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/style-mobile.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='http://capethemes.com/demo/scroller1/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='tp_twitter_plugin_css-css'  href='http://capethemes.com/demo/scroller1/wp-content/plugins/recent-tweets-widget/tp_twitter_plugin.css?ver=1.0' type='text/css' media='screen' />
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.4'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.10.4'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.4'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/functions/js/shortcodes.js?ver=1'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/css3-mediaqueries.js?ver=3.9.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://capethemes.com/demo/scroller1/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://capethemes.com/demo/scroller1/wp-includes/wlwmanifest.xml" /> 
    <link rel='next' title='Blog' href='http://capethemes.com/demo/scroller1/blog-2/' />
    <meta name="generator" content="WordPress 3.9.1" />
    <link rel='canonical' href='http://capethemes.com/demo/scroller1/' />
    <link rel='shortlink' href='http://capethemes.com/demo/scroller1/' />
    <style type="text/css"> .ssba {




    }
    .ssba img   
    {   
     width: 35px !important;
     padding: 6px;
     border:  0;
     box-shadow: none !important;
     display: inline !important;
     vertical-align: middle;
 }
 .ssba, .ssba a   
 {
     text-decoration:none;
     background: none;

     font-size:   20px;
.table, td, th {
    border: 1px solid green;
}

.th {
    background-color: green;
    color: white;
}

 }</style><link rel="shortcut icon" href="http://capethemes.com/demo/scroller1/wp-content/uploads/2014/03/themnific-ico-desat.png"/>
 <!-- Themnific Shortcodes CSS -->
 <link href="http://capethemes.com/demo/scroller1/wp-content/themes/scroller/functions/css/shortcodes.css" rel="stylesheet" type="text/css" />

 <!-- Themnific Styling -->
 <style type="text/css">
 body,.section,.item_full,.item_carousel,.item_slider,.pricing ul{background-color:#fff}
 .scroll li a,.navi li a{border-color:#fff !important}

 .body2,#header,.scroll ul.sub-menu,.navi ul.sub-menu,.navi li ul.children
 {background-color:#171717}
 .scroll li a,.navi li a{border-color:#171717 !important}

 .body3,.nav li ul,li.normal h2,ul.medpost li.format-quote
 {background-color:#f9f9f9}
 #serinfo-nav li.current,.wpcf7-submit,a#navtrigger,.stuff span.slidebg,.flex-direction-nav li a,span.ribbon,.block-wrap a.blogmore,#folio-wrap a.blogmore,.imgwrap,a.hoverstuff-link,a.hoverstuff-zoom,li.main h2,.page-numbers.current,a.mainbutton,#submit,#comments .navigation a,.contact-form .submit,.plan-bottom a,a.comment-reply-link,.imageformat{background-color:#FFDD00}
 .section>.container>h3,#servicesbox li,.nav li ul{border-color:#FFDD00 !important}
 #navigation a:hover,.scroll>li.current>a,ul.sub-menu>li.current>a,ul.children>li.current>a,#servicesbox li:hover h3 i,#portfolio-filter li.current-cat a,.section>.container>h2:after{color:#FFDD00 !important}
 .body1 a, a:link, a:visited,.nav>li>ul>li>a {color:#333}
 .entry a,a:hover,.body1 a:hover,#serinfo a:hover,#main-nav>li.current-cat a,#main-nav>li.current_page_item a,
 #portfolio-filter a.current,li.current-cat a,#portfolio-filter li.active a,
 .tagline a,a.slant {color:#FFDD00}
 #main-nav>li:hover,#main-nav>li.current-cat,#main-nav>li.current_page_item {border-color:#FFDD00 !important}
 #clients li,#header,#portfolio-filter,.searchform input.s,.fullbox,.pagination,input, textarea,input checkbox,input radio,select, file{border-color:#e3e3e3 !important}
 body,input, textarea,input checkbox,input radio,select, file {font:400 14px/1.8em Arial;color:#757575}
 .body2 h2,.body2 h3 {color:}
 h1 {font:700 70px/1.1em Montserrat;color:#000000}h2 {font:700 55px/1.2em Montserrat;color:#000000}p.special {font-family:Montserrat}h3,a.tmnf-sc-button.xl,.flexhead p {font:700 14px/1.5em Open Sans;color:#4a4a4a}h4 {font:600 18px/1.5em Raleway;color:#000000}h5 {font:400 14px/1.5em Raleway;color:#4a4a4a}h6 {font:400 14px/1.5em Raleway;color:#4a4a4a}
 .scroll li a,.navi li a {font:700 12px/1em Open Sans;color:#ffffff}.section h2,.section_template h2 {font:700 80px/1.2em Montserrat;color:#000000}.tab-post small a,.taggs a,.ei-slider-thumbs li a {color:#757575}
 </style>

</head>


<body class="home page page-id-2126 page-template page-template-homepage_alt2-php upper">



    <div id="header" class="boxshadow gradient">

       <div class="container" style="overflow:visible;"> 

        <a id="logo_res" href="http://capethemes.com/demo/scroller1/">

            <img src="http://capethemes.com/demo/scroller1/wp-content/uploads/2014/02/scroller-logo-alt2.png" alt="Scroller"/>

        </a>

        <a id="navtrigger" href="#">MENU</a>



        <nav id="navigation" class="bigmenu">

         <h1 class="classic">


            <a class="logo" href="http://capethemes.com/demo/scroller1/">

                YOUR LOGO

            </a>



        </h1>

        <ul id="nav" class="scroll"><li id="menu-item-2857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2857"><a href="#home">Home</a></li>
            <li id="menu-item-2848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2853"><a href="#about">About Metralite</a></li>
                <li id="menu-item-2852" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2852"><a href="#leadership">Leadership</a></li>
                <li id="menu-item-2852" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2852"><a href="#services">Services</a></li>
                <li id="menu-item-2849" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2849"><a href="#team">Projects</a></li>
                <li id="menu-item-2859" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2859"><a href="#clients">Clients</a></li>
                <li id="menu-item-2848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2848"><a href="#contact">Contact</a></li>
        </ul>

    </nav>




    <div style="clear: both;"></div>

</div>

</div>

<div style="clear: both;"></div>        

<div id="home" class="mainflex_holder">

 <div class="mainflex_wrap">

  <div class="mainflex flexslider">

    <ul class="slides">


<li class="free_slider">
  <div class="slider_full">
    <img width="1920" height="1280" src=<%=asset_path "2_header.jpg"%> class="attachment-full wp-post-image" alt="Columbia project" />                                
  </div>
  <div class="free_content">
    <div class="container">
      <p>&nbsp;<br />
      &nbsp;</p>
      <h1 style="text-align: center;"><span style="color: #94BFFF;"><span style="color: #94BFFF;">Metralite Industries, Inc.</span><br /></span></h1>
      <p style="text-align: center;"><div class="tmnf-sc-hr"></div>
      <h3 style="text-align: center;"><span style="color: #94BFFF;">Architectural Metal and Glass</span></h3>
      <p>&nbsp;</p>
    </div>
  </div>
  <div style="clear: both;"></div>
</li>

<li class="free_slider">
  <div class="slider_full">
    <img width="1920" height="1280" src=<%=asset_path "17.jpg"%> class="attachment-full wp-post-image" alt="Columbia project" />                                
  </div>
  <div class="free_content">
    <div class="container">
      <p>&nbsp;<br />
      &nbsp;</p>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"><span style="color: #ffffff;"></span></h2>
    </div>
  </div>
  <div style="clear: both;"></div>
</li>     

<li class="free_slider">
  <div class="slider_full">
    <img width="1920" height="1280" src=<%=asset_path "33.jpg"%> class="attachment-full wp-post-image" alt="Columbia project" />                                
  </div>
  <div class="free_content">
    <div class="container">
      <p>&nbsp;<br />
      &nbsp;</p>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"><span style="color: #ffffff;"></span></h2>
    </div>
  </div>
  <div style="clear: both;"></div>
</li>     

<li class="free_slider">
  <div class="slider_full">
    <img width="1920" height="1280" src=<%=asset_path "5.jpg"%> class="attachment-full wp-post-image" alt="Columbia project" />                                
  </div>
  <div class="free_content">
    <div class="container">
      <p>&nbsp;<br />
      &nbsp;</p>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"><span style="color: #ffffff;"></span></h2>
    </div>
  </div>
  <div style="clear: both;"></div>
</li>     

<li class="free_slider">
  <div class="slider_full">
    <img width="1920" height="1280" src=<%=asset_path "42.jpg"%> class="attachment-full wp-post-image" alt="Columbia project" />                                
  </div>
  <div class="free_content">
    <div class="container">
      <p>&nbsp;<br />
      &nbsp;</p>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"></h2>
      <h2 style="text-align: left;"><span style="color: #ffffff;"></span></h2>
    </div>
  </div>
  <div style="clear: both;"></div>
</li>                     






<div style="clear: both;"></div>
</li>                      

</ul>
</div>


</div>

</div>

<div id="main">





    <div id="about" name="about" class="section resmode-Yes"
 style="   background-color:#D9D9D9; ">




 <div class="container">



    <h2 class="head" style="color:;">About Metralite</h2>
    <p class="section_text" style="color:;">For the past half-century, Metralite Industries Incorporated has been at the forefront of American construction innovation. Along with the Brett Glass Company subsidiary, Metralite Industries is recognized as one of the highest quality architectural metal fabrication and glazing firms in the New York area. The 25,000 square-foot Metralite facility is located in Flushing, Queens, where detailed manufacturing does not cease until clients are met with the ingenuity and resources New York deserves. Behind every great city is a team of committed developers. Metralite and Brett Glass aim to develop a greater New York and improve the lives of our people, clients, and communities. Metralite’s industrial leadership promotes advances in nearly every economic sector, with a particular emphasis on sustainability, technology, financial services, education, healthcare, and community development.</p>
    
    <div class="hrlineB"></div>  






    


                </div>

<div id="latest" name="latest" class="section resmode-Yes">
           
           
              
                   
              <div class="container">
                
                       
                                      
          <h4 style="text-align: center;">How about a slogan</h4>
<h2 style="text-align: center;">Here</h2>
  <ul class="loop" style="position:relative; left:50px">
      
      <li class="fourcol rad_big" style="width:40%">
                             
            <div class="item_full item_height1" style="height:200%;">
        
                <div class="imgwrap">
                
                        
                        
                        
                                
                            <img width="403" height="280" src=<%=asset_path "handshake.png"%> class="attachment-folio wp-post-image" alt="1395871_19682756" title="" />                        
                       
                        
                </div>  
                
                <div style="clear:both"></div>
    
                <h3>Our Metralite Promise</h3>
                
                <p><ul style="margin-left: 25px; margin-bottom:15px;">
<li>We deliver the highest standard of workmanship.</li>
<li>We provide timely and cost-effective production.</li>
<li>We exercise professionalism with our building partners.</li>
<li>We guarantee client satisfaction of our work.</li>
<li>We support our talented union employees.</li>
</ul>
</p>
                
                
        
            </div>        </li>
            
      
     <li class="fourcol rad_big" style="width:40%">
                             
            <div class="item_full item_height1" style="height:200%;">
        
                <div class="imgwrap">
                
                        
                        
                        
                                
                            <img width="403" height="280" src=<%=asset_path "blueprint.png"%> class="attachment-folio wp-post-image" alt="1395871_19682756" title="" />                  
                       
                        
                </div>  
                
                <div style="clear:both"></div>
    
                <h3>Our Specializations</h3>
                
                <p><ul style="margin-left: 25px; margin-bottom:15px;">
<li>Ornamental Metals</li>
<li>Storefront Entrances</li>
<li>Corporate Interiors</li>
<li>Glass Doors & Partitions</li>
<li>Railings</li>
<li>Canopy Enclosures</li>
<li>Mirrors</li>
<li>Glass Floors & Staircases</li>
</ul>
</p>
                
                
        
            </div>        </li>
            
      
      
            
    </ul>
        
                        
                         
           </div> 



                <div id="latest" name="latest" class="section resmode-Yes"
                style="  background-image:url(http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/black_vert1.png);  ">



            <div id="layoutpost-2563" name="" class="section resmode-No" style="  background-image:url('/assets/break1.jpg'); background-color:#919191; ">
              <div class="container">
                <h2 style="text-align: center;"><span style="color: #94BFFF;">Excellence. Professionalism. Creativity.<span style="color: #000;"></span></span></h2>
                <div style="clear: both;"></div>
              </div>
            </div>


                       <div id="leadership" name="leadership" class="section resmode-Yes"
                       style="    ">




                       <div class="container">



                        <h2 class="head" style="color:;">Meet Our Leadership</h2>
                        <p class="section_text" style="color:;">Our people are our greatest asset. We proudly cultivate and sustain a talented, experienced, and diverse team. Experience has taught us to continue learning and continue improving, which is critical to adapting to the needs of our clients and communities.</p>
                        <div class="hrlineB"></div>  



                        <div id="staff-wrap">
                           <ul class="warpbox">


                            <li class="staff threecol" style="width:100%; background-color:#F3F3F7;">

                              <img width="212" height="275" src=<%=asset_path "silverstein.jpg"%> class="attachment-staff wp-post-image" alt="staff02" style="margin-right:20px;margin-top:20px"/>                
                              <h3 style="position:relative; right:50px;">Jeff Silverstein</h3>   

                              <p style="position:relative; right:50px;"><b>President & CEO</b></p>

                              <div style="margin-right:80px; margin-bottom:20px; text-align:left">
                                <p>Jeff Silverstein is the President and CEO of Metralite Industries Incorporated and President of Brett Glass Company. In this role, he leads the Sales Department and oversees the Field and Operations Departments. Over the course of his thirty-year career at Metralite, Jeff managed thousands of projects and directed Metralite into a breakthrough era of growth and innovation. </p>

<p>He currently serves as President of the <a href="http://www.alliedbuilding.org/" target="_blank">Allied Building Metal Industries, Inc.</a>, a trade association representing New York City’s leading steel and metal construction contractors. For the past eighteen years, he has served as a board member of the <a href="http://www.ujafedny.org/real-estate/" target="_blank"> UJA Federation’s Real Estate & Allied Trades division</a>, with a mission to care for New Yorkers in need. </p>

<p>Jeff graduated from Syracuse University with a Bachelor of Science in 1981. </p>
                             
</p>
</div>
                             

                          </li>
                
                   


               </ul>

          <ul class="warpbox">
            <li class="staff threecol">
              <h3 class="hoverblue">Abraham Medina</h3>
              <p class="meta">Field Manager</p>             
            </li>                       
            <li class="staff threecol">                        
              <h3 class="hoverblue">Bob Savicevic</h3>       
              <p class="meta">Facility Manager</p>
            </li>
            <li class="staff threecol">
              <h3 class="hoverblue">Goran Stojanovic</h3>   
              <p class="meta">Operations Manager </p>
            </li>
            <li class="staff threecol">
              <h3 class="hoverblue">Ivan Felix</h3>   
              <p class="meta">Field Manager</p>
            </li>
            <li class="staff threecol"> 
              <h3 class="hoverblue">Joanne Sommerville</h3>   
              <p class="meta">Bookkeeper</p>
            </li>
            <li class="staff threecol">
              <h3 class="hoverblue">Kwame Agyemang</h3>   
              <p class="meta">Estimating Manager</p>
            </li>
            <li class="staff threecol">
              <h3 class="hoverblue">Maria Ponce</h3>   
              <p class="meta">Secretary</p>
            </li>
            <li class="staff threecol">
              <h3 class="hoverblue">Richard Palumbo</h3>   
              <p class="meta">Field Manager</p>
            </li>
            <li class="staff threecol" style="position:relative; left:375px;">
              <h3 class="hoverblue">Steve Mohammad</h3>   
              <p class="meta">Drafting Manager</p>
            </li>
          </ul>
       </div> 



           <div style="clear: both;"></div> 


           <div style="clear: both;"></div>

       </div>


   </div>   

            <div id="layoutpost-2563" name="" class="section resmode-No" style="  background-image:url('/assets/break1.jpg'); background-color:#919191; ">
              <div class="container">
                <h2 style="text-align: center;"><span style="color: #FFFFFF;">The road to success</span><br><span style="color: #94BFFF;">is always under construction</span></h2>
                <div style="clear: both;"></div>
              </div>
            </div>

                                    <div id="services" name="services" class="section resmode-Yes"
                                    style="   background-color:#DDDDDD; ">




                                    <div class="container">



                                        <h2 class="head" style="color:;">Services</h2>
                                        <p class="section_text" style="color:;">Our architectural metal and glass services are customized to meet our clients’ individualized needs. From initial design to final installation, we work with our partners to ensure our precision engineering is perfect.</p>
                                        <div class="hrlineB"></div>  



                                        <div id="services-wrap">
                                           <ul id="servicesbox" style="width:100%; text-align:center;">


                                            <li class="services body3 boxshadow2 rad_big">



                                               <h3><i class="icon-cog"></i> Metal Fabricators</h3>



                                               <p ><b>Metralite</b> offers personalized ornamental metal fabrication. We use the latest design technologies & metals including stainless steel, aluminum, bronze, lead to adapt to New York's rapidly changing skyline.</p>

                                           </li>


                                           <li class="services body3 boxshadow2 rad_big">



                                               <h3><i class="icon-cog"></i> Glass & Mirrors</h3>



                                               <p><b>Metralite</b> is committed to delivering the highest caliber glazing in the industry. We install, replace, and remove nearly any type of glass and mirror. Most of our glasswork involves tempering, laminating, and coating.  </p>

                                           </li>

                                            <li class="services body3 boxshadow2 rad_big">


                                           



                                               <h3><i class="icon-cog"></i> Installation</h3>



                                               <p><b>Metralite</b> provides installation of our material to ensure each project is completed in a timely manner. Our ironworkers, carpenters, and glaziers manage each project to deliver a seamless installation. </p>

                                           </li>
                                          </ul>
                                          <ul id="servicesbox" style="width:100%; text-align: center">

                                            <div style="position: relative; left: 150px">
                                       
                                               <li class="services body3 boxshadow2 rad_big" style="display: inline-block;" >



                                                   <h3><i class="icon-cog"></i> Sustainability</h3>



                                                   <p><b>Metralite</b> proudly leads the construction industry in sustainability. We manufacture low-emissivity, thermal insulated glass. As a result, clients save on energy costs and New York reduces its carbon footprint.</p>

                                               </li>


                                               <li class="services body3 boxshadow2 rad_big" style="display: inline-block;" >



                                                   <h3><i class="icon-cog"></i> Consulting</h3>



                                                   <p><b>Metralite</b> consults for architects & corporate clients. We help optimize design, drive efficiency, and catalyze growth through value engineering. We work side-by-side our architects and general contractors.</p>

                                               </li>
                                             </div>
                                      
                                        </ul>

                                           


                                           


                                       </ul>
                                   </div> 
                                   <div style="clear: both;"></div> 


                                   <div style="clear: both;"></div>

                               </div>


                           </div>


                           


                       <div id="team" name="team" class="section resmode-Yes"
                       style="    ">




                       <div id="featured" name="featured" class="section resmode-Yes"
           style="   background-color:#D9D9D9; ">
           
           
              
                   
              <div class="container">
                
                   
                        
                        <h2 class="head" style="color:;">Projects</h2>
                        <p class="section_text" style="color:;">Our clients include Fortune 500 corporations and local small businesses. Over the past half-century, we have contributed to New York’s timeless appearance – from developing America’s most established businesses to helping emerging entrepreneurs. Our construction projects can be seen in each borough of New York City. We specialize in corporate interiors, storefront entrances, and canopy enclosures. </p>
                        <div class="hrlineB"></div>  
                            
                         
                                      


            
      <% names = Array.new %>
      <% addresses = [] %>
      <% names.push("One New York Plaza") %>
      <% addresses.push("1 New York Plaza, New York, NY") %>
      <div class="featuredflex flexslider">
      <ul class="slides">   
        <% projects_to_include = [1,4,43,8,9,36,39,6,35,11,32,16,18,41,26,4,7,13,15,19,20,23,25,31] %>
        <% projects_to_include.each do |project| %>
          <li>                             
            <div class="item_slider body3">              
              <img width="640" height="400" src=<%=asset_path "#{project.to_s}.jpg"%> class="attachment-block_2 wp-post-image" alt="1395871_19682756" title="" /> 
              <% if project == 1 %>
                <h2>One New York Plaza</h2>
                <p>1 New York Plaza, New York, NY</p>
              <% elsif project == 2 %>
                <h2>One New York Plaza</h2>
                <p>1 New York Plaza, New York, NY</p>
              <% elsif project == 3 %>
                <h2>One New York Plaza</h2>
                <p>1 New York Plaza, New York, NY</p>
              <% elsif project == 4 %>
                <h2>1185 Sixth Avenue </h2>
                <p>1185 Sixth Avenue, New York, NY</p>
              <% elsif project == 5 %>
                <h2>Alliance Bernstein</h2>
                <p>1345 Sixth Avenue, New York, NY</p>
              <% elsif project == 6 %>
                <h2>Ion Media Networks, Inc.</h2>
                <p>810 Seventh Avenue, New York</p>
              <% elsif project == 7 %>
                <h2>Ion Media Networks, Inc.</h2>
                <p>810 Seventh Avenue, New York</p>
              <% elsif project == 8 %>
                <h2>Ion Media Networks, Inc.</h2>
                <p>810 Seventh Avenue, New York</p>
              <% elsif project == 9 %>
                <h2>Warburg Pincus, LLC</h2>
                <p>466 Lexington Avenue, New York, NY</p>
              <% elsif project == 10 %>
                <h2>Warburg Pincus, LLC</h2>
                <p>466 Lexington Avenue, New York, NY</p>
              <% elsif project == 11 %>
                <h2>Cushman and Wakefield</h2>
                <p>1290 Sixth Avenue, New York, NY</p>
              <% elsif project == 12 %>
                <h2>119 West 40th Street</h2>
                <p>119 West 40th Street, New York, NY</p>
              <% elsif project == 13 %>
                <h2>BBVA</h2>
                <p>1345 Sixth Avenue, New York, NY</p>
              <% elsif project == 14 %>
                <h2>Alliance Bernstein LP</h2>
                <p>1345 Sixth Avenue, New York, NY</p>
              <% elsif project == 15 %>
                <h2>Alliance Bernstein LP</h2>
                <p>1345 Sixth Avenue, New York, NY</p>
              <% elsif project == 16 %>
                <h2>Lexus </h2>
                <p>Madison Sqaure Garden, 4 Pennsylvania Plaza, New York, NY </p>
              <% elsif project == 17 %>
                <h2>Lexus </h2>
                <p>Madison Sqaure Garden, 4 Pennsylvania Plaza, New York, NY </p>
              <% elsif project == 18 %>
                <h2>Cleary Gottlieb Steen and Hamilton LLP</h2>
                <p>1 Liberty Plaza, New York, NY</p>
              <% elsif project == 19 %>
                <h2>Gensler</h2>
                <p>1 Rockefeller Center, New York, NY</p>
              <% elsif project == 20 %>
                <h2>Michael Kors</h2>
                <p>790 Madison Avenue, New York, NY</p>
              <% elsif project == 21 %>
                <h2>Sheraton Hotel</h2>
                <p>811 Seventh Avenue, New York, NY</p>
              <% elsif project == 22 %>
                <h2>Sheraton Hotel</h2>
                <p>811 Seventh Avenue, New York, NY</p>
              <% elsif project == 23 %>
                <h2>Sheraton Hotel</h2>
                <p>811 Seventh Avenue, New York, NY</p>
              <% elsif project == 24 %>
                <h2>Sheraton Hotel</h2>
                <p>811 Seventh Avenue, New York, NY</p>
              <% elsif project == 25 %>
                <h2>Debevoise & Plimpton LLP</h2>
                <p>919 Third Avenue, New York, NY</p>
              <% elsif project == 26 %>
                <h2>Conde Nast Cafeteria</h2>
                <p>4 Times Square, New York, NY</p>
              <% elsif project == 27 %>
                <h2>Conde Nast Cafeteria</h2>
                <p>4 Times Square, New York, NY</p>
              <% elsif project == 28 %>
                <h2>Conde Nast Cafeteria</h2>
                <p>4 Times Square, New York, NY</p>
              <% elsif project == 29 %>
                <h2>Conde Nast Cafeteria</h2>
                <p>4 Times Square, New York, NY</p>
              <% elsif project == 30 %>
                <h2>Conde Nast Cafeteria</h2>
                <p>4 Times Square, New York, NY</p>
              <% elsif project == 31 %>
                <h2>Bergdorf Goodman</h2>
                <p>745 Fifth Avenue, New York, NY</p>
              <% elsif project == 32 %>
                <h2>Disney</h2>
                <p>711 Fifth Avenue, New York, NY</p>
              <% elsif project == 33 %>
                <h2>Disney</h2>
                <p>711 Fifth Avenue, New York, NY</p>
              <% elsif project == 34 %>
                <h2>Disney</h2>
                <p>711 Fifth Avenue, New York, NY</p>
              <% elsif project == 35 %>
                <h2>Sony Store</h2>
                <p>550 Madison Avenue, New York, NY</p>
              <% elsif project == 36 %>
                <h2>Ernst & Young </h2>
                <p>5 Times Square, New York, NY</p>
              <% elsif project == 37 %>
                <h2>Ernst & Young </h2>
                <p>5 Times Square, New York, NY</p>
              <% elsif project == 38 %>
                <h2>Chanel</h2>
                <p>9 West 57th Street, New York, NY</p>
              <% elsif project == 39 %>
                <h2>Chanel</h2>
                <p>9 West 57th Street, New York, NY</p>
              <% elsif project == 40 %>
                <h2>The National Basketball Association Store</h2>
                <p>666 Fifth Avenue, New York, NY</p>
              <% elsif project == 41 %>
                <h2>The National Basketball Association Store</h2>
                <p>666 Fifth Avenue, New York, NY</p>
              <% elsif project == 42 %>
                <h2>Absolute Vodka </h2>
              <% elsif project == 43 %>
                <h2>Ippolita</h2>
                <p>796 Madison Avenue, New York, NY</p>
              <% end %>
            </div>
          </li>
        <% end %>
      
            
      
      
            
    </ul>
    </div>
        <div style="clear: both;"></div>
  
                        
                        
                    <div style="clear: both;"></div>
                    
                    </div>


   


<div id="clients" name="clients" class="section resmode-Yes"
style="   background-color:#e0e0e0; ">




<div class="container">

<h2 style="text-align: center;">Our Clients</h2>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3 class="hoverblue">ACC Construction Corp.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>AJS Construction Management Co.</h3> 
            </li>
            <li class="staff threecol">
              <h3>Alexander Wolf & Son</h3>  
            </li>
            <li class="staff threecol">
              <h3>Alliance Bernstein, LP</h3>   
            </li>
          </ul><ul class="warpbox">
            <li class="staff threecol">
              <h3>Americon Construction, Inc.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Benchmark Builders, Inc.</h3> 
            </li>
            <li class="staff threecol">
              <h3>Big Show Construction</h3>  
            </li>
            <li class="staff threecol">
              <h3>Boston Properties</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>CB Richard Ellis</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>CJS Builders</h3> 
            </li>
            <li class="staff threecol">
              <h3>Citibank</h3>  
            </li>
            <li class="staff threecol">
              <h3>Cleary Gottlieb Steen & Hamilton</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Clune Construction Co.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Cross Management Corp.</h3> 
            </li>
            <li class="staff threecol">
              <h3>Cushman & Wakefield</h3>  
            </li>
            <li class="staff threecol">
              <h3>Debevoise & Plimpton </h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Dycon Enterprises</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Ernst & Young</h3> 
            </li>
            <li class="staff threecol">
              <h3>Estee Lauder</h3>  
            </li>
            <li class="staff threecol">
              <h3>Gannon Vitolo Contracting</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Gensler & Associates</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Henegan Construction Co, Inc.</h3> 
            </li>
            <li class="staff threecol">
              <h3>HLW Services</h3>  
            </li>
            <li class="staff threecol">
              <h3>HM Hughes Co.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>HOK</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Ibex Construction</h3> 
            </li>
            <li class="staff threecol">
              <h3>Icon Interiors, Inc.</h3>  
            </li>
            <li class="staff threecol">
              <h3>Integra Contracting, Inc.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Interior Construction Corp.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Island Woodwork</h3> 
            </li>
            <li class="staff threecol">
              <h3>James E. Fitzgerald Inc.</h3>  
            </li>
            <li class="staff threecol">
              <h3>John Gallin & Son, Inc.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>JP Morgan Chase & Co.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>JRM Construction</h3> 
            </li>
            <li class="staff threecol">
              <h3>JT Magen & Co, Inc.</h3>  
            </li>
            <li class="staff threecol">
              <h3>Kajima Building & Design Group, Inc.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Linmar Construction Corp.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>L&K Partners, Inc.</h3> 
            </li>
            <li class="staff threecol">
              <h3>MBI Construction</h3>  
            </li>
            <li class="staff threecol">
              <h3>Metro Click</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Nastasi & Associates</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>New York Times</h3> 
            </li>
            <li class="staff threecol">
              <h3>New York University</h3>  
            </li>
            <li class="staff threecol">
              <h3>Nucore Construction Corp.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>Oestreicher Construction Corp.</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Pepsi Co.</h3> 
            </li>
            <li class="staff threecol">
              <h3>Plaza Construction</h3>  
            </li>
            <li class="staff threecol">
              <h3>Quest Builders Group, Inc.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>RAF Construction</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>RC Dolner Construction, LLC</h3> 
            </li>
            <li class="staff threecol">
              <h3>Related Properties</h3>  
            </li>
            <li class="staff threecol">
              <h3>Rudin Management Co, Inc.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>S2 Builders</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Shawmut Design Construction</h3> 
            </li>
            <li class="staff threecol">
              <h3>SL Green Realty Corp.</h3>  
            </li>
            <li class="staff threecol">
              <h3>Structure Tone, Inc.</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>TPG Architecture, LLP</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>The Bern Companies</h3> 
            </li>
            <li class="staff threecol">
              <h3>The Marlboro Group International, LLC</h3>  
            </li>
            <li class="staff threecol">
              <h3>Theodore Williams Construction, LLC</h3>   
            </li>
          </ul>
          <ul class="warpbox">
            <li class="staff threecol">
              <h3>The Venetian Group</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Tishman Speyer Co</h3> 
            </li>
            <li class="staff threecol">
              <h3>Vornado Realty</h3>  
            </li>
            <li class="staff threecol">
              <h3>Warburg Pincus</h3>   
            </li>
          </ul>
          <ul class="warpbox" style="position:relative; left:250px;">
            <li class="staff threecol">
              <h3>Werner Krebs</h3>
            </li>                       
            <li class="staff threecol">                        
              <h3>Westerman Construction</h3> 
            </li>
          </ul>
         
    </div>
  </div>




                        <div id="contact" name="contact" class="section resmode-Yes"
                        style="   background-color:#FFDE00; ">




                        <div class="container">



                           <div class="twocol-one">
                            <div class="wpcf7" id="wpcf7-f2877-o1"><form action="/demo/scroller1/#wpcf7-f2877-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="2877" />
                                    <input type="hidden" name="_wpcf7_version" value="3.7.2" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2877-o1" />
                                    <input type="hidden" name="_wpnonce" value="0e9e5af1a3" />
                                </div>
                                <p>Your Name (required)<br />
                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                                    <p>Your Email (required)<br />
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                                        <p>Subject<br />
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
                                            <p>Your Message<br />
                                                <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
                                                <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
                                            </div>
                                            <div class="twocol-one last">
                                                <h2>Contact Us</h2>
                                                
                                                    <ul class="social-menu">



















                                                    </ul>
                                                    <h3><i class="icon-home"></i> <span style="color: #000000;">132-70 34th Avenue, Flushing, NY 11354</span></h3>
                                                    <h3><span style="color: #000000;"><i class="icon-envelope-alt"></i> metralite@twcmetrobiz.com </span></h3>
                                                    <h3><span style="color: #000000;"><i class="icon-phone-sign"></i> Phone: (718) 961-1770</span></h3>
                                                    <h3><span style="color: #000000;"><i class="icon-phone-sign"></i> Fax: (718) 359-6541</span></h3>
                                                </div>


                                                <div style="clear: both;"></div>

                                            </div>


                                        </div>


                                    </div><!-- [END] #main -->

                                    

                                </div>

                            </div><!-- /#footer  -->

                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/tabs.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.50.0-2014.02.05'></script>
                            <script type='text/javascript'>
                            /* <![CDATA[ */
                            var _wpcf7 = {"loaderUrl":"http:\/\/capethemes.com\/demo\/scroller1\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
                            /* ]]> */
                            </script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.7.2'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.hoverIntent.minified.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.prettyPhoto.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.scrollTo.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.nav.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.parallax-1.1.3.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/superfish.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/ownScript.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.flexslider-min.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.flexslider.start.main.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/comment-reply.min.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.flexslider.start.featured.js?ver=3.9.1'></script>

                        </body>
                        </html>